In [2]:
# import necessary modules
import pandas as pd
import numpy as np

# load the necessary csv file
csv_fp = 'purchase_data.csv'

# allows the data to be read from the desired file
purch_data = pd.read_csv(csv_fp)

In [22]:
# counts unique instances of purchases based on customer SN
tot_peps = purch_data['SN'].unique()

# displays total number of players
tot_peps_num = len(tot_peps)
tot_players = [{'Total Players': tot_peps_num}]
tot_pepsdf = pd.DataFrame(tot_players)
tot_pepsdf

   Total Players
0            576

In [23]:
# finds the unqiue instances of items, average sales price, total number of transactions, and total revenue
poss_item = purch_data['Item Name'].unique()
num_items = len(poss_item)
avg_price = purch_data['Price'].mean()
avg_price = round(avg_price, 2)
tot_ampurch = len(purch_data)
tot_rev = purch_data['Price'].sum()
totals = [{'Unique Items': num_items, 'Average Price': avg_price, 'Number of Transactions': tot_ampurch, 'Total Revenue':
          tot_rev}]
totals = pd.DataFrame(totals)
totals

   Average Price  Number of Transactions  Total Revenue  Unique Items
0           3.05                     780        2379.77           179

In [43]:
# only allowing unique instances of buyers to be included
purch_data.loc[:, []]

pandas.core.frame.DataFrame

count      780
unique       3
top       Male
freq       652
Name: Gender, dtype: object