In [41]:
import pandas as pd
import datetime as dt

In [42]:
with open('nhtsa+complaints.csv', encoding='utf-8') as nhtsa_data:
    road_data = pd.read_csv(nhtsa_data)
road_data.head()

,ODINumber,Manufacturer,Crash,Fire,NumberOfInjured,NumberOfDeaths,DateofIncident,DateComplaintFiled,Component,Summary,ProductType,ModelYear,Make,Model,DateofIncident_formatted,DateComplaintFiled_formatted,VIN,_BATCH_ID_,_BATCH_LAST_RUN_
0,11083622.0,Volvo Car USA LLC,No,No,0,0,/Date(1522987200000-0400)/,/Date(1522987200000-0400)/,SEATS,I WAS AT THE DENVER CAR SHOW AND LOOKED AT THI...,VEHICLE,2019,VOLVO,XC40,2018-04-06,2018-04-06,NaN,1.0,2019-08-29 23:01:54
1,11053511.0,Honda (American Honda Motor Co.),No,No,0,0,/Date(1512104400000-0500)/,/Date(1512709200000-0500)/,VISIBILITY/WIPER,THE 2018 ACURA MDX HAS WINDSHIELD DISTORTIONS ...,VEHICLE,2018,ACURA,MDX,2017-12-01,2017-12-08,5J8YD4H50JL,1.0,2019-08-29 23:01:54
2,11081739.0,Honda (American Honda Motor Co.),Yes,No,2,0,/Date(1521518400000-0400)/,/Date(1522209600000-0400)/,SERVICE BRAKES,PURCHASED ACURA MDX IN JANUARY OF 2018 SO IT I...,VEHICLE,2018,ACURA,MDX,2018-03-20,2018-03-28,5J8YD4H57JL,1.0,2019-08-29 23:01:54
3,11063617.0,Honda (American Honda Motor Co.),No,No,0,0,/Date(1516078800000-0500)/,/Date(1516320529000-0500)/,SERVICE BRAKES,ANOTHER DRIVE ADVISED US THE BRAKES LIGHTS WER...,VEHICLE,2018,ACURA,RDX,2018-01-16,2018-01-18,5J8TB3H36JL,1.0,2019-08-29 23:01:54
4,11083108.0,Honda (American Honda Motor Co.),No,No,0,0,/Date(1522036800000-0400)/,/Date(1522728000000-0400)/,ELECTRICAL SYSTEM,TL* THE CONTACT OWNS A 2018 ACURA RDX. WHILE T...,VEHICLE,2018,ACURA,RDX,2018-03-26,2018-04-03,5J8TB4H50JL,1.0,2019-08-29 23:01:54

In [43]:
# drop unnecessary columns
rd_data = pd.DataFrame(road_data[['Manufacturer', 'Crash', 'Fire', 'NumberOfInjured', 'DateofIncident_formatted', 'Make']])
rd_data.head()

,Manufacturer,Crash,Fire,NumberOfInjured,DateofIncident_formatted,Make
0,Volvo Car USA LLC,No,No,0,2018-04-06,VOLVO
1,Honda (American Honda Motor Co.),No,No,0,2017-12-01,ACURA
2,Honda (American Honda Motor Co.),Yes,No,2,2018-03-20,ACURA
3,Honda (American Honda Motor Co.),No,No,0,2018-01-16,ACURA
4,Honda (American Honda Motor Co.),No,No,0,2018-03-26,ACURA

In [55]:
# drop all rows that do not have "Yes" as the response for whether or not there was a crash
data = {'Manufacturer':[], 'Crash':[], 'Fire':[], 'NumberOfInjured':[], 'DateOfIncident':[], 'Make':[]}
for x in rd_data.values:
    if 'Yes' in x:
        q = list(x)
        data['Manufacturer'].append(q[0])
        data['Crash'].append(q[1])
        data['Fire'].append(q[2])
        data['NumberOfInjured'].append(q[3])
        data['DateOfIncident'].append(q[4])
        data['Make'].append(q[5])
        next
    else:
        next

In [58]:
# finalzed form of DF as dat_data with all rows dropped that did not have a Date for when the incident occured
dat_data = pd.DataFrame(data).dropna(how='any')

In [28]:
with open('GM.csv') as gm_data:
    dat_gm = pd.read_csv(gm_data)
dat_gm.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-11-18,35.000000,35.990002,33.889999,34.189999,27.027195,457044300
1,2010-11-19,34.150002,34.500000,33.110001,34.259998,27.082527,107842000
2,2010-11-22,34.200001,34.480000,33.810001,34.080002,26.940243,36650600
3,2010-11-23,33.950001,33.990002,33.189999,33.250000,26.284130,31170200
4,2010-11-24,33.730000,33.799999,33.220001,33.480000,26.465942,26138000

In [61]:
dat_var = dat_data['DateOfIncident'] > '2010-08-31'
dat_varr = dat_data[dat_var]
dat_varr.to_csv('MotorvehicleIncidents.csv')