In [352]:
# import necessary modules
import pandas as pd
import numpy as np

# load the necessary csv file
csv_fp = 'purchase_data.csv'

# allows the data to be read from the desired file
purch_data = pd.read_csv(csv_fp)

In [353]:
# counts unique instances of purchases based on customer SN
tot_peps = purch_data['SN'].unique()

# displays total number of players
tot_peps_num = len(tot_peps)
tot_players = [{'Total Players': tot_peps_num}]
tot_pepsdf = pd.DataFrame(tot_players)
tot_pepsdf

   Total Players
0            576

In [354]:
# finds the unqiue instances of items, average sales price, total number of transactions, and total revenue
poss_item = purch_data['Item Name'].unique()

# uses len() to find the total number of possible item choices and mean() to find the average
# round() is used to allow for a number that is tailored for the circumstance, which in this case is to the second digit
num_items = len(poss_item)
avg_price = purch_data['Price'].mean()
avg_price = round(avg_price, 2)
tot_ampurch = len(purch_data)
tot_rev = purch_data['Price'].sum()

# creates layout of desired output as well as making it into a dataframe
totals = [{'Unique Items': num_items, 'Average Price': avg_price, 'Number of Transactions': tot_ampurch, 'Total Revenue':
          tot_rev}]
totals = pd.DataFrame(totals)
totals

   Average Price  Number of Transactions  Total Revenue  Unique Items
0           3.05                     780        2379.77           179

In [355]:
# drops duplicates in set using the "SN" column as the key for determining the duplicates, only the first instance of the 
# duplicate will be kept and if their is a duplicate it will not replace the value of its original. 
g_data = purch_data.drop_duplicates(subset ='SN', keep ='first', inplace = False)

# counts the number of times a value shows up in the Gender column
g_data = g_data['Gender'].value_counts()
g_tot = g_data['Male'] + g_data['Female'] + g_data['Other / Non-Disclosed']
g_df = {'Gender': ['Male', 'Female', 'Other / Non-Disclosed'], 'Totals': [g_data['Male'], g_data['Female'], g_data['Other / Non-Disclosed']], 'Percent': [round((g_data['Male']/g_tot)*100, 2), round((g_data['Female']/g_tot)*100, 2), round((g_data['Other / Non-Disclosed']/g_tot)*100, 2)]}

# creates g_df into a dataframe and sets the index to the genders
g_df = pd.DataFrame(g_df)
g_df.set_index('Gender')

                       Totals  Percent
Gender
Male                      484    84.03
Female                     81    14.06
Other / Non-Disclosed      11     1.91

In [356]:
p_count = purch_data['Gender'].value_counts()
purch_data2 = purch_data.set_index('Gender')
mavg = round(purch_data2.loc['Male', 'Price'].mean(), 2)
m_tot = purch_data2.loc['Male', 'Price'].sum()
mp_avg = round(purch_data2.loc['Male', 'Price'].sum()/p_count['Male'], 2)
favg = round(purch_data2.loc['Female', 'Price'].mean(), 2)
f_tot = purch_data2.loc['Female', 'Price'].sum()
fp_avg = round(purch_data2.loc['Female', 'Price'].sum()/p_count['Female'], 2)
ondavg = round(purch_data2.loc['Other / Non-Disclosed', 'Price'].mean(), 2)
ond_tot = purch_data2.loc['Other / Non-Disclosed', 'Price'].sum()
ondp_avg = round(purch_data2.loc['Other / Non-Disclosed', 'Price'].sum()/p_count['Other / Non-Disclosed'], 2)
ginfo_df = {'Gender': ['Male', 'Female', 'Other / Non-Disclosed'], 'Totals': [m_tot, f_tot, ond_tot], 
            'Averages': [mavg, favg, ondavg], 'Number of Transactions': [p_count['Male'], p_count['Female'], p_count['Other / Non-Disclosed']], 
           'Average Spent/Buyer': [mp_avg, fp_avg, ondp_avg]}
ginfo_df = pd.DataFrame(ginfo_df)
ginfo_df = ginfo_df.set_index('Gender')
ginfo_df

,Totals,Averages,Number of Transactions,Average Spent/Buyer
Gender,,,,
Male,1967.64,3.02,652,3.02
Female,361.94,3.20,113,3.20
Other / Non-Disclosed,50.19,3.35,15,3.35

In [383]:
age_info = purch_data
age_df = age_info.set_index('SN')
arone = []
artwo = []
artree = []
arfr = []
arfv = []
arsx = []
arsvn = []

for x in age_df:

SyntaxError: unexpected EOF while parsing (<ipython-input-383-471d3b5b3ebe>, line 11)